<app-header>
    
</app-header>

<main>
    <section class="main-section">
        <div class="headline">
            <span>
                Oliveira Consultoria
            </span>
            <h1>
                A consultoria que você busca para o seu Software
            </h1>
        </div>
        <img ngSrc="./assets/header.jpeg" width="750" height="450" />
    </section>
    <section class="benefit-section">
        <div class="benefit-data">
            <h2>
                95% das <br> empresas
            </h2>
        </div>
        <p>
            Não sabem como lidar com problemas de <b>escalabilidade</b> e grande volume de requisições
        </p>
    </section>
    <section class="cta-section">
        <btn-primary btn-text="Fale com nossos especialistas">

        </btn-primary>
    </section>

    <newsletter-form>
        
    </newsletter-form>
</main>